* {
  padding: 0;
  margin: 0;
  user-select: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-break: 2.1rem;
  width: 100%;
  height: auto;
}

.container {
  width: calc(100% - (251px + 251px));
  height: inherit;
  margin: 0 auto;
}

header {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: 10rem;
  background: #ffffff;
}

.modify-navbar {
  display: flex;
  align-items: center;
}

.banner {
  width: 100%;
  height: 80rem;
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
}

.modify-banner,
.modify-simple {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 160px;
}

.banner__line {
  width: 50%;
  height: 2px;
  border-radius: 5px;
  background: #15a4fa;
  display: inline-block;
  margin-bottom: 4rem;
}

.banner__subtitle {
  font-size: 23px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.banner__call {
  display: inline-block;
  margin-top: 4.5rem;
  padding: 2rem 3.2rem;
  background: transparent;
  border: 1px solid #15a4fa;
  border-radius: 3px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.fa-angle-down {
  display: inline-block;
  margin-top: 178px;
  color: #ffffff;
  font-size: 3rem;
  cursor: pointer;
}

.simple {
  width: 100%;
  height: 337px;
  overflow: hidden;
  background: #f6f9f9;
}

.simple__title {
  color: #2d3950;
  font-size: 5.2rem;
  font-weight: 400;
}

.simple__subtitle {
  color: #999999;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin-top: 3.4rem;
  line-height: 3rem;
}

.feature {
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.modify-feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature__section {
  width: 30rem;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feature__section-title {
  color: #2d3950;
  font-weight: 400;
  margin-top: 3rem;
  font-size: 2rem;
}

.feature__section-desc {
  color: #999999;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2.5rem;
  line-height: 2rem;
}

.profile {
  width: 100%;
  height: auto;
  background: #f6f9f9;
  padding: 8rem 0;
  overflow: hidden;
}

.profile__title {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: #2d3950;
  margin-bottom: 2.2rem;
}

.profile__subtitile {
  color: #999999;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 8rem;
  overflow: hidden;
}

.profile__images {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile__image {
  margin-bottom: 3rem;
  border-radius: 3px;
}

.stay {
  width: 100%;
  height: auto;
  padding: 8rem 0;
  background: url("../images/stay.png") no-repeat;
  background-size: cover;
  overflow: hidden;
}

.stay__title {
  color: #ffffff;
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
}

.stay__subtitle {
  margin-top: 2rem;
  color: #999999;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 6rem;
}

input,
input:focus,
input:active,
textarea,
textarea:focus,
textarea:active,
button,
button:active {
  outline: none;
}

.stay__form {
  width: 555px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.stay__input {
  width: 100%;
  height: 6rem;
  border: 1px solid #999999;
  color: #999999;
  border-radius: 3px;
  padding: 0 1rem;
  background: transparent;
  margin-bottom: 2rem;
}

::-webkit-input-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

:-moz-placeholder {
  color: #999999;
}

.stay__textarea {
  width: 100%;
  height: 16rem;
  border: 1px solid #999999;
  color: #999999;
  border-radius: 3px;
  padding: 1rem;
  background: transparent;
  margin-bottom: 2rem;
}

.stay__textarea::-webkit-input-placeholder {
  color: #999999;
  font-size: 1.5rem;
}

.stay__textarea::-moz-placeholder {
  color: #999999;
  font-size: 1.5rem;
}

.stay__textarea:-ms-input-placeholder {
  color: #999999;
  font-size: 1.5rem;
}

.stay__textarea:-moz-placeholder {
  color: #999999;
  font-size: 1.5rem;
}

.stay__form__footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.stay__form__footer-checkbox {
  color: white;
  cursor: pointer;
}

.stay__form__footer-checkbox-input {
  margin-right: 1rem;
  background: #999999;
  cursor: pointer;
}

.stay__form__btn {
  border: 1px solid #15a4fa;
  border-radius: 3px;
  color: #ffffff;
  background: transparent;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 14px 48px;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 90px;
  background: #ffffff;
  overflow: hidden;
}

.modify-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  color: #999999;
}

.social__icons {
  width: auto;
  height: auto;
  overflow: hidden;
  display: flex;
}

.icon__img {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 1011px) {
  .container {
    width: 80%;
  }

  .banner__title {
    font-size: 100px;
  }

  .banner__subtitle {
    font-size: 1.8rem;
  }

  .banner__call {
    padding: 1rem 2rem;
  }

  .simple__title {
    font-size: 4rem;
  }

  .simple__subtitle {
    font-size: 1.6rem;
  }

  .feature__section {
    width: 20rem;
  }

  .feature__section-title {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 931px) {
  .banner__title {
    font-size: 80px;
  }

  .banner__subtitle {
    font-size: 1.6rem;
  }

  .banner__call {
    padding: 1rem 2rem;
  }

  .simple__title {
    font-size: 3rem;
  }

  .simple__subtitle {
    font-size: 1.5rem;
  }

  .feature__section {
    width: 16rem;
  }

  .feature__section-img {
    width: 50%;
    height: 50%;
  }

  .feature__section-title {
    font-size: 1.4rem;
  }

  .feature__section-desc {
    font-size: 1.2rem;
  }

  .profile__title {
    font-size: 2rem;
  }

  .profile__image {
    width: 45%;
    height: 45%;
  }

  .stay__title {
    font-size: 2rem;
  }

  .stay__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stay__input {
    width: 80%;
  }

  .stay__textarea {
    width: 80%;
  }

  .stay__form__footer {
    width: 80%;
  }
}

@media only screen and (max-width: 677px) {
  .modify-navbar {
    justify-content: center;
    align-items: center;
  }

  .feature {
    height: auto;
    padding: 8rem 0;
  }

  .modify-feature {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .feature__section {
    margin-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 493px) {
  .container {
    width: 95%;
  }

  .banner__title {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  .banner__subtitle {
    font-size: 1.3rem;
  }

  .banner__call {
    font-size: 1.2rem;
  }

  .stay__form__footer-checkbox {
    font-size: 1.2rem;
  }

  .stay__form__btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

  .footer__copy {
    font-size: 1.2rem;
  }

  .social__icons {
    width: 50%;
    height: 40%;
  }
}

@media only screen and (max-width: 378px) {
  .footer {
    height: auto;
    padding: 2rem 0;
  }

  .modify-footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .social__icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}
